.project {
  // border-bottom: 1px solid currentColor;
  padding: var(--gutter);
  display: flex;
  justify-content: space-between;
  font-size: ~"clamp(1.125rem, 1.0147rem + 0.4706vw, 1.25rem)";
  background: transparent;
  text-decoration: none;
  position: relative;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 calc(-1 * var(--gutter));

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (min-width: @lg) {
    gap: 5.5rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--primary);
      color: var(--black);

      .project__arrow {
        opacity: 1;
      }
    }

    &:focus-visible {
      background: var(--primary);
      color: var(--black);

      .project__arrow {
        opacity: 1;
      }
    }
  }

  &:after {
    content: "";
    display: block;
    width: calc(100% - 2 * var(--gutter));
    height: 1px;
    background: currentColor;
    position: absolute;
    bottom: -1px;
    left: var(--gutter);
  }
}

.project__details {
  display: grid;
  gap: 0.5rem;

  @media screen and (min-width: @lg) {
    max-width: 65%;
  }
}

.project__name {
  font-size: ~"clamp(1.375rem, 1.0441rem + 1.4118vw, 1.75rem)";
  font-weight: 600;
}

.project__skills {
  font-size: 1rem;
}

.project__view-link {
  justify-self: end;
}

.project__arrow {
  width: 1.5rem;
  height: auto;
  flex-shrink: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  @media (hover: hover) and (pointer: fine) {
    opacity: 0;
    width: 2.5rem;
  }
}
